<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Noé's Website!!</title>
	<link rel="icon" href="./favicon.ico"/>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
	<link rel = "stylesheet" href = "./style.css">
  </head>
  <body>
    <h1>
      <%- output.file.attributes.title %>
    </h1>
    <%- output.content %>
  </body>
</html>